.header_shadow {
  box-shadow: 0px 0px 10px 3px #929292a4;
}

.header {
  background: #fff;
  &__icon {
    width: 45px;
    height: 45px;
  }

  &__icon-text {
    font-size: 0.8rem;
  }

  @media (max-width: 640px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.menu-separator:last-child {
  display: none;
}
