.bg-gradient {
  background: $gradientbg;
}

.bg-light-blue {
  background: $lightblue;
}

.bg-active {
  background: $activeColor;
}

.bg-darkPink {
  background: $darkPink;
}

.btn {
  border-radius: 100px;
  font-size: 14px;
  font-family: $secondary-font;
  text-transform: uppercase;
  color: $clr-white;
  padding: 1rem 2.5rem;

  &--primary {
    background: $primary-color;
  }

  &--secondary {
    background: $secondary-color;
  }
}

.bar-spacer {
  left: -50%;
  transform: translate(50%);
}

.scrollToBottom {
  cursor: pointer;
}

.body-wrap-color {
  background: #f6f9fb;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.wp-post-image {
  width: 100%;
}

.fwp-submit {
  margin-bottom: 40px;
}

.ff_t_c {
  p {
    font-size: 17px !important;
    color: #8a94a1;
  }
}

.bold-font {
  p {
    font-weight: bold;
  }
}

.competition-field {
  border: 2px solid $primary-color !important;
}

.wp-block-button__link {
  background: #26364b;
  border-radius: 100px;
  color: #fff;
  font-family: semplicitapro, sans-serif;
  font-size: 14px;
  padding: 1rem 2.5rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
