body {
  font-family: $secondary-font;
}

.semibold {
  font-family: 'semplicitapro', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.title {
  &__stars {
    position: relative;
    padding-top: 1.5rem;

    &:before {
      content: '';
      width: 288px;
      height: 68px;
      display: block;
      position: absolute;
      left: -50px;
      top: 0px;
      background-image: url('https://mamabella.dashdev.uk/app/uploads/2023/07/stars.png');
      background-size: auto;
      background-repeat: no-repeat;
    }
  }
}

.text-shadow-custom {
  text-shadow: 4px 0px 0px #f6b4ac;
  position: relative;

  &:before {
    background-image: url('https://mamabella.dashdev.uk/app/uploads/2023/07/stars.png');
    content: '';
    display: block;
    height: 142px;
    left: 50%;
    position: absolute;
    top: 0;
    width: 482px;
    transform: translate(-50%);
    background-size: auto;
    background-repeat: no-repeat;
  }
}

.font {
  &--signoff {
    font-family: 'Sacramento', cursive;

    &:before {
      content: '';
      width: 91px;
      height: 44px;
      display: block;
      position: absolute;
      left: 0px;
      top: 80%;
      background-image: url('https://mamabella.dashdev.uk/app/uploads/2023/07/Group-2002-1.png');
    }
  }
}

.small-pink-title {
  font-size: 18px;
  color: $secondary-color;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: $secondary-font;
}

.decorated-title {
  position: relative;
  z-index: 2;
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 100%;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 115px;
    background-image: url('https://mamabella.dashdev.uk/app/uploads/2023/08/Path-1426.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 16px;
    z-index: -1;

    @media (max-width: 740px) {
      background-size: contain;
    }
  }

  &__content {
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.primary-title {
  font-family: $primary-font;
}

.e-content {
  width: 100%;

  p {
    font-family: $secondary-font;
    font-size: 20px;
    font-weight: normal;
    color: $primary-color;
  }

  @media (max-width: 740px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  p {
    padding-bottom: 1.5rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-font;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

li {
  font-family: $primary-font;
  font-size: 18px;
}

ul {
  list-style: circle;
}

cite {
  font-family: $primary-font;
  font-size: 18px;
}

blockquote {
  margin-left: 2rem;
  margin-right: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 3rem;
  border-left: 4px solid theme('colors.secondary');
  font-size: 16px;
  margin-top: 2rem;
}

.wp-block-heading {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.content-wrapper {
  p {
    a {
      text-decoration: underline;
      text-decoration-color: #b33558;
      color: #b33558;
    }
  }
}

.e-content {
  p {
    a {
      text-decoration: underline;
      text-decoration-color: #b33558;
      color: #b33558;
    }
  }

  ul {
    padding-left: 1.5rem;
  }
}

.quicklinks {
  a {
    text-decoration: none !important;
    color: theme('colors.primary') !important;
  }
}

.wp-block-button__link {
  text-decoration: none !important;
  color: white !important;
}

.products-item__wrap {
  text-decoration: none !important;
  color: theme('colors.primary') !important;
}

.decorated-title__content-dupe {
  text-decoration: none !important;
  color: theme('colors.primary') !important;
}
