.title {
  &__stars {
    position: relative;
    padding-top: 1.5rem;

    &:before {
      content: '';
      width: 288px;
      height: 68px;
      display: block;
      position: absolute;
      left: -50px;
      top: 0px;
      background-image: url('https://mamabella.dashdev.uk/app/uploads/2023/07/stars.png');
      background-size: auto;
      background-repeat: no-repeat;
    }
  }
}

.text-shadow-custom {
  text-shadow: 4px 0px 0px #f6b4ac;
  position: relative;

  &:before {
    background-image: url(https://mamabella.dashdev.uk/app/uploads/2023/07/Group-2002-1.png);
    content: '';
    display: block;
    height: 142px;
    left: 50%;
    position: absolute;
    top: 0;
    width: 482px;
    transform: translate(-50%);
    background-size: auto;
    background-repeat: no-repeat;
  }
}

.font {
  &--signoff {
    font-family: 'Sacramento', cursive;

    &:before {
      content: '';
      width: 91px;
      height: 44px;
      display: block;
      position: absolute;
      left: 0px;
      top: 80%;
      background-image: url('https://mamabella.dashdev.uk/app/uploads/2023/07/Group-2002-1.png');
    }
  }
}

.small-pink-title {
  font-size: 18px;
  color: $secondary-color;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: $secondary-font;
}

.decorated-title {
  position: relative;
  z-index: 2;
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 100%;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 115px;
    background-image: url('https://mamabella.dashdev.uk/app/uploads/2023/08/Path-1426.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 16px;
    z-index: -1;

    @media (max-width: 740px) {
      background-size: contain;
    }
  }

  &__content {
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
