$primary-color: #3d4d63;
$secondary-color: #f9c8c9;
$accent-pink: #f9c8c926;
$accent-color: #fef1f1;
$lightblue: #f0f5f9;
$clr-white: #fff;
$darkPink: #b33558;
$darkBlue: #3d4d63;
$activeColor: #58667d;
$gradientbg: linear-gradient(
  0deg,
  rgba(255, 255, 255, 1) 0%,
  rgba(187, 220, 241, 0.22452731092436973) 100%
);

$primary-font: 'gelica', sans-serif;
$secondary-font: 'semplicitapro', sans-serif;

// Clip path var
$inset: calc(100% - 0.75rem);
