.post {
  &__image {
    img {
      border-top-left-radius: 80px;
      width: 100%;
      max-height: 233px;
      object-fit: cover;
    }
  }

  &__wrap {
    justify-content: space-between;
  }

  &__title {
    font-size: 20px;
    font-family: $secondary-font;
    color: $primary-color;
    font-weight: bold;
  }

  &__content-wrap {
    border: 2px solid $secondary-color;
    border-bottom-right-radius: 80px;
  }

  &__content-wrap-ingredients {
    border: 2px solid $darkPink;
    border-bottom-right-radius: 80px;
  }

  &__category {
    background: #f9c8c9;
    color: $primary-color;
    bottom: 0;
    font-size: 18px;
    left: -17px;
    padding-left: 35px !important;
    padding: 7px;
    font-weight: 600;
    letter-spacing: 2px;

    &::before {
      content: '';
      position: absolute;
      bottom: -17px;
      left: 0;
      padding: 2px 8px;
      width: 17px;
      height: 17px;
      display: block;
      background-image: url('https://mamabella.dashdev.uk/app/uploads/2023/05/Subtraction-1.png');
    }

    &::after {
      background-image: url(https://mamabella.dashdev.uk/app/uploads/2023/12/edge.png);
      background-size: contain;
      background-repeat: no-repeat;
      content: '';
      display: block;
      height: 43px;
      position: absolute;
      right: -32px;
      top: 0;
      width: 43px;
      z-index: 1;
      // -webkit-clip-path: polygon(
      //   100% 0%,
      //   $inset 50%,
      //   100% 100%,
      //   0 100%,
      //   0% 50%,
      //   0 0
      // );
      // clip-path: polygon(100% 0%, $inset 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
    }
  }

  &__category-ingredients {
    background: $darkPink;
    color: $clr-white;
    bottom: 0;
    font-size: 18px;
    left: -17px;
    padding-left: 35px !important;
    padding: 7px;

    &::before {
      content: '';
      position: absolute;
      bottom: -17px;
      left: 0;
      padding: 2px 8px;
      width: 17px;
      height: 17px;
      display: block;
      background-image: url('https://mamabella.dashdev.uk/app/uploads/2023/08/corner.png');
    }

    &::after {
      content: '';
      position: absolute;
      right: -40px;
      top: 0px;
      width: 43px;
      height: 43px;
      display: block;
      background: $darkPink;
      -webkit-clip-path: polygon(
        100% 0%,
        $inset 50%,
        100% 100%,
        0 100%,
        0% 50%,
        0 0
      );
      clip-path: polygon(100% 0%, $inset 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
    }
  }
}

.post-grid-with-filter {
  &__img img {
    min-height: 255px;
    max-height: 255px;
  }

  &__filter-box {
    background-color: $accent-pink;
    background-image: url('https://mamabella.dashdev.uk/app/uploads/2023/08/three.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .facetwp-facet {
    margin-bottom: 15px !important;
  }

  select.facetwp-dropdown {
    padding: 0.2rem 1rem;
  }

  .fwp-submit,
  select.facetwp-dropdown {
    height: 40px;
  }
}

.hearts {
  background-image: url(http://mamabella.test/app/uploads/2023/10/Group-2002.png);
  background-repeat: no-repeat;
  background-position: 0%;
}
