.spacer {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: -25px;
    width: 100%;
    height: 52px;
    display: block;
    background-image: url('https://mamabella.dashdev.uk/app/uploads/2023/08/Group-2002-1.png');
    background-size: cover;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}
