.product__image {
  height: 100%;

  .wp-post-image {
    min-height: 185px;
    width: 135px;
    object-fit: cover;
    height: 100%;
  }
}

.product_sidebar {
  max-height: 1100px;
  overflow: hidden;
}
